/* h1 and allSearch bar*/

main {
	height: auto;
	width: 100%;
	overflow: auto;
}

h2 {
	font-family: forum;
	height: 50px;
	margin-bottom: 25px;
	margin-left: 5px;
	padding: 3vh 0 0 25px;
	font-size: 24pt;
	width: 80%;
}

.allSearch {
	width: 400px;
	height: 25px;
	margin: 3vh 50px 25px 35px;
}

/* #container2::before, #container2::after {
	content: "";
	display: block;
	clear: both;
}

#container2 {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	padding-left: 250px;
	height: 100vh;
}

#container2 > div:first-child {
	display: flex;
} */

/* highlight searched text */

.highlight {
	background-color: #ADD8E6;
}

/* Warning Container */

.warningContainer {
	position: relative;
}

.warning {
	display: block;
	font-size: smaller;
	left: -160px;
	padding: 10px;
	position: absolute;
	width: 150px;
	top: -10px;
	z-index: 1;
	background-color: #FF0000;
}

.references {
	padding-left: 50px;
	padding-top: 15px;
}

.sort {
	width: 800px;
	margin-left: 25px;
	border-bottom: 2px solid #d3d3d3;
	vertical-align: top;
	display: flex;
	position: sticky;
	top: 0;
	background-color: #F8F8F8;
}

/* .sort {
	width: 50px;
	border-top: 2px solid #d3d3d3;
	vertical-align: top;
	left: 50px;
	grid-area: sidebar;
	display: flex;
	position: sticky;
	flex: row;
} */

.sort:hover {
	cursor: pointer !important;
}

.sort li:hover {
	background-color: #d3d3d3 !important;
} 

.sort li {
	list-style-type: none;
	text-align: center;
}

em {
	color: blue;
}

button{
	background-color: #F8F8F8;
	border: none;	
	font-family: forum;
	padding: 5px 10px 5px 10px;
	font-size: 12pt;
}

button:hover{
	background-color: #d3d3d3 !important;
	cursor: pointer !important;
}

#A, #B, #C, #D, #E, #F, #G, #H, #I, #J, #K, #L, #M, #N, #O, #P, #Q, #R, #S, #T, #U, #V, #W, #X, #Y, #Z{
	padding-top: 30px;
	padding-bottom: 10px;
}

p{
	padding-bottom: 10pt;
}