/* General */

@font-face {
	font-family: forum;
	src: url(../fonts/forum.ttf) format('truetype');
}

html {
}

body {
	font-family: forum;
	background-color: #f8f8f8;
	margin: 0px;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.hidden {
	display: none;
}

.reset-a{
	color: #000000;
}

.bold {
	font-weight: bold;
}

.italics {
	font-style: italic;
}

.bullets {
	font-size: 22pt;
}

/* For use with styling titles */
.quotes:before, .quotes:after {
	content: "\0022";
}

.fixed {
	position: fixed;
}

.absolute {
	position: absolute;
}

.clearfix::before, .clearfix::after {
	content: "";
	clear: both;
	overflow: auto;
}

#container {
	position: absolute;
	box-sizing: border-box;
	background-color: #3D5170;
	width: 100%;
}

#container2::before, #container2::after {
	content: "";
	display: block;
	clear: both;
}

#container2 {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	padding-left: 250px;
	height: 100vh;
}


.italic {
	font-style: italic;
}

.top-image {
	position: relative;
	z-index: 1000;
}

a {
	text-decoration: none;
	color: red;
}

a:hover {
	text-decoration: underline;
}
/* Header/sidebar */

header {
	width: 250px;
	height: 100vh;
	background-color: #001E4C;
	z-index: 10000;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	position: fixed;
	box-shadow: 5px 5px 10px rgba(125,125,125,.6);
}

header a img {
	width: 80%;
	margin-top: 150px;
}

header a {
	text-decoration: none;
	color: #F7F0F0;
}

nav {
	width: 100%;
	display: inline-block;
}

nav ul {
	margin-top: 100px;
	padding: 0px;
}

nav ul li {
	display: block;
	width: 100%;
	font-family: forum;
	color: #F7F0F0;
	text-decoration: none;
	box-sizing: border-box;
	padding: 10px 10px 10px 20px;
	text-align: left;
	font-size: 12pt;
	margin-bottom: 15px;
}

nav form {
	padding: 20px;
}

/* Alphabet Browse */

#browse_list {
	height: 100%;
	background-color: #5A7896;
	z-index: 8000;
	display: none;
	box-sizing: border-box;
	vertical-align: top;
	position: fixed;
	left: 250px;
	width: 250px;
	overflow: auto;
}

#alphabet {
	width: 50px;
	position: relative;
	margin: 75px auto 0px auto;
	color: #F7F0F0;
	text-align: center;
	display: inline-block;
	border-right: 1px solid #F7F0F0;
}



#alphabet p {
	padding: 3.5px 0px;
	border-right: 1px solid #F7F0F0;
	margin: 0px;
	font-size: 12pt;
}

/*#myths {
	width: 200px;
	height: 100%;
	background-color: #5A7896;
	z-index: 10000;
	box-sizing: border-box;
	vertical-align: top;
	position: fixed;
	left: 300px;
	display: inline-block;
	border-right: 2px solid #F7F0F0;
	overflow: auto;
}
*/
#myths ul {
	margin: 75px auto 0px auto; 
	color: #F7F0F0;
	font-size: 11pt;
	display: none;
	position: fixed;
	padding: 0px;
}

#myths li {
	list-style-type: none;
	margin: 5px auto 0px 15px;
	box-sizing: border-box;
}

#works_list {
	width: 250px;
	height: 100%;
	background-color: #3D5170;
	z-index: 10000;
	display: none;
	box-sizing: border-box;
	vertical-align: top;
	position: fixed;
	left: 500px;
	overflow: auto;
	color: #F7F0F0;
	border-right: 2px solid #F7F0F0;
}

#works_list ul {
	list-style-type: none;
	padding: 25px;
}

#works_list ul li {
	font-size: 10pt;
	margin-top: 10px;	
}

#works_list ul li p {
	padding: 0px 0px 0px 15px;
	margin: 0px;
}

.line {
	width: 70%;
	margin: 0px auto;
	border-bottom: 1px solid #F7F0F0;
}