/* General */

/*** Notes on Styling ***/

/*  

-Layout is from small to big (like phone to tablet to computer) so when you are doing your css plan accordingly.

-I am setting this up so that you just have to have a <main> element on each page to contain it's content. As long as you contain everything inside a <main> element it should automatically be responsive (though you'll have to adjust your content accordingly)

*/

/* This is not SASS this is built in to CSS it allows you to create variables that you can use throughout the rest of the css file though so incredibly useful. when you call it as a CSS value you put 

--var(name)

so an example would be 

header {
	background-color: --var(primary-color);
}

You declare the variables in the :root selector at the top of the page
*/

:root {
	--header-background: #001E4C; /* Dark Blue */
	--primary-color: #3D5170; /* Blueish Teal? (I'm colorblind I just know it looks good with the other colors) */
	--secondary-color: #F9E7CD; /* Tan */
	--tertiary-color: #F8F8F8; /* White */
	--text-primary: #000; /* Black */
	--text-secondary: #F8F8F8; /* White */
	--text-tertiary: #d3d3d3; /* Grey */
};

/*** General Rules ***/

@font-face {
	font-family: forum;
	src: url(../fonts/forum.ttf) format('truetype');
}

html {
}

body {
	font-family: forum;
	background-color: var(--tertiary-color);
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

a {
	text-decoration: none;
	color: red;
}

a:hover {
	text-decoration: underline;
}

/*** Classes for General Use ***/
/* Some of these are frequently used with Javascript */

.bold {
	font-weight: bold;
}

.hidden {
	display: none;
}

.italic {
	font-style: italic;
}

.reset-a{
	color: #000000;
}

.bullets {
	font-size: 22pt;
}

.clearfix::before, .clearfix::after {
	content: "";
	clear: both;
	overflow: auto;
}


/* Need to make this a phone size image that can be used */

.background-image {
	background-image: url("../images/background-phone.png");
	background-size: cover;
	background-repeat: no-repeat;
}

/*** Layout ***/

body {
	display: grid;
	overflow-x: hidden;
	grid-template-rows: 35px 1fr 5vh;
	grid-template-areas:
		"header"
		"main"
		"footer"
	;
}

header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }



/* Header/Nav */

header div > a {
	text-decoration: none;
	color: inherit;
}

header a:hover {
	text-decoration: none;
}

nav {
	background-color: var(--header-background);
	height: 35px;
	width: 100%;
	z-index: 100;
	vertical-align: top;
	position: fixed;
	box-shadow: 5px 5px 10px rgba(125,125,125,.6);
}

nav > div:first-child {
	display: flex;
	background-color: inherit;
	justify-content: space-between;
	align-items: center;
	padding: 0 5px 0 5px;
}

.logo::before {
	content: "OGCMA";
	font-family: forum;
	font-size: 24px;
	color: var(--text-secondary);
}

.hamburger {
	width: 35px;
	height: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hamburger:hover {
	cursor: pointer;
}

.hamburger div {
	height: 3px;
	width: 25px;
	margin: 3px;
	background-color: var(--tertiary-color);
}

/* Hamburger animations */

@keyframes oneForward {
	0% { transform: translate(0); }
	100%{ transform: translate(0, 9px); }
}

@keyframes threeForward {
	0% { transform: translate(0); }
	100%{ transform: translate(0, -9px); }
}

@keyframes oneReverse {
	0% { transform: translate(0, 9px); }
	100%{ transform: translate(0); }
}

@keyframes threeReverse {
	0% { transform: translate(0, -9px); }
	100%{ transform: translate(0); }
}

.line1-forward {
	animation: oneForward ease-in .25s forwards;
}

.line3-forward {
	animation: threeForward ease-in .25s forwards;	
}

.line1-reverse {
	animation: oneReverse ease-in .25s forwards;
}

.line3-reverse {
	animation: threeReverse ease-in .25s forwards;	
}

/* nav animation */

@keyframes menu-down {
	0% { transform: translate(0,-150px); }
	100% { transform: translate(0,0); }
}

@keyframes menu-up {
	0% { transform: translate(0,0); }
	100% { transform: translate(0,-150px); }	
}

.menu-down {
	animation: menu-down ease-in .25s forwards;
}

.menu-up {
	animation: menu-up ease-in .25s forwards;
}

/* Translating this is causing issues with the logo and hamburger icon */
nav ul {
	background-color: var(--primary-color);
	color: var(--text-primary);
	transform: translate(0,-150px);
	z-index: -100;
	position: relative; /* z-index will fail in Chrome without this */
	box-shadow: 5px 5px 10px rgba(125,125,125,.6);
}

nav ul li {
	display: block;
	width: 100%;
	font-family: forum;
	color: var(--text-secondary);
	text-decoration: none;
	box-sizing: border-box;
	padding: 10px 10px 10px 10px;
	text-align: right;
	font-size: 12pt;
	margin-bottom: 15px;
}

nav ul li a {
	color: inherit;
}

nav ul li a:hover {
	color: var(--text-tertiary);
}


/* Footer */

footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

/*** Media Queries ***/

@media (min-width: 400px){
	.background-image {
		background-image: url("../images/background-phone.png");
		background-size: cover;
	/* 	background-repeat: no-repeat; */
	}
}

/* This media query is more for the background image and won't be necessary on most pages */

@media (min-width: 500px){
	.background-image {
		background-image: url("../images/background-tablet.png");
		background-size: cover;
		/* background-repeat: no-repeat; */
		background-position: 75%;
	}

	nav > div:first-child {
		padding: 0 10px 0 10px;
	}
}

@media (min-width: 1100px){
	.menu-up {
		animation-name: none;
	}
	
	/* Layout */
	body {
		grid-template-columns: 200px 1fr;
		grid-template-rows: 1fr 5vh;
		grid-template-areas:
			"header main"
			"header footer"
		;
	}

	nav {
		height: 100vh;
		width: 200px;
		position: fixed;
		box-shadow: 5px 5px 10px rgba(125,125,125,.6);
	}

	nav ul {
		transform: translate(0);
		background-color: var(--header-background);
		box-shadow: none;
		margin-top: 25px;
		padding-left: 10px;
	}

	nav ul li {
		text-align: left;
	}

	.hamburger {
		display: none;
	}

	.background-image {
		background-image: url("../images/background.png");
		background-size: cover;
	/* 	background-repeat: no-repeat; */
	}

	.logo {
		display: block;
		width: 200px;
		height: 200px;
		background-image: url("../images/ogcma_logo.png");
		background-size: contain;
	}

	.logo::before {
		display: none;
	}
}