#options {
	position: relative;
	left: 50px;
	top: 50px;
}

#login_content {
	height: 100%;
	padding: 20px;
	background-color: white;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .6);
	margin: auto;
	left: 0;
	right: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

form > input {
	display: block;
}

h1 {
	font-size: 48pt;
	padding: 24pt;
}

p {
	padding: 5pt;
}